html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    height: 100%;
    background-color: black;
}

div#carpet {
    margin: 0 auto;
    /*align-self: center;*/
    color: white;
    -moz-border-radius: 0.8em;
    -webkit-border-radius:  0.8em;
    border-radius:  0.8em;
    z-index: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: row; 
    flex-flow:row wrap;
     -webkit-flex-flow: row wrap; 
}

/*http://www.websitecodetutorials.com/code/css/css3-wiggle-on-hover.php*/

@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(3deg);
    }

    50% {
        -ms-transform: rotate(-3deg);
    }

    100% {
        -ms-transform: rotate(3deg);
    }
}
@-moz-keyframes wiggle {
    0% {
        -moz-transform: rotate(3deg);
    }

    50% {
        -moz-transform: rotate(-3deg);
    }

    100% {
        -moz-transform: rotate(3deg);
    }
}
@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(3deg);
    }

    50% {
        -webkit-transform: rotate(-3deg);
    }

    100% {
        -webkit-transform: rotate(3deg);
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(3deg);
    }
}

.dropDiv {
    display:flexbox;   
    flex-flow:row wrap;
   
    width: 10em;
    height: 10em;
    margin: 2em;
      
    color: #000000;
    -moz-border-radius: 1em;
    -webkit-border-radius:1em;
    border-radius: 1em;
    opacity: 1;
    z-index: 2;

     display: flex;
  justify-content: center;
  align-items: center;
  
}

.dropDiv:hover {
     -moz-animation: wiggle .3s 2;
     -webkit-animation: wiggle .3s 2;
      animation: wiggle .3s 2;
 }

.date {
    font-family: 'Times New Roman';
    font-size: x-large;
    text-shadow: 0px 1px 1px #eee;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

.date a
 {
        color: #000000;
        text-decoration: none;

}

a.contents {
    color: rgba(64, 128, 128, 1);
}

    a.contents:hover {
        color: #00ff90;
    }

#title {
    text-align: center;
    font-family: Monotype Corsiva;
    color: white;
    font-size: large;
    font-style: oblique;
    text-shadow: 1px 1px 1px #808080;
}

#footer {
    text-align: center;
    font-size: .8em;
    color: white;
    bottom: 0;
    align-self: center;
    margin: 0 auto;
    width:100%;
}
#header {
    vertical-align: top;
    width: 100%;
    display: table;
}


.slideButton {
    display: table-cell;
    right: 5px;
    float: right;
    align-self: flex-end;
    padding-right: 0.5em;
    background-color: white;
    opacity: 0.8
}

    .slideButton img {
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    }


/*Modal popup css from here-------------------------------*/

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 5%;
    visibility: hidden;
    z-index: 10;
    width: 90%;
    height: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.overlay:target + .popup {
    top: 5%;
    opacity: 1;
    visibility: visible;
}

.popup .popupInner {
    overflow: auto;
    height: 100%;
    right: 0;
}

.popup div {
    padding: 0.5em;
}

.popup header {
    text-align: center;
    font-family: Monotype Corsiva;
    color: rgba(33,66,00,1);
    font-size:  large;
    font-style: oblique;
    text-shadow: 1px 1px 1px #808080;
}

.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;
    z-index: 20;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

    .close:before {
        color: rgba(255, 255, 255, 0.9);
        content: "X";
        font-size: 24px;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    }

    .close:hover {
        background-color: rgba(64, 128, 128, 0.8);
    }

/* In popup, each item css from here-------------------------------*/

.wrap, .wrapVer {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
    /*.wrap p{ This only needed for captions
    position:absolute;
    opacity:0;
    top:50%;
    left:-8%;
    padding:5px;
    text-align:center;
    width:113%;
    font-size:20px;
    line-height:20px;
    margin-top:-10px;
    z-index:3;
    background:rgba(255,255,255, 0.7);
    transition:1s;
}
    
    .wrap:hover p {
    opacity :1;
}
*/

    .wrap img {
        display: block;
        width: 200px;
        margin: 3px;
        -webkit-transition: opacity 0.26s ease-out;
        -moz-transition: opacity 0.26s ease-out;
        -ms-transition: opacity 0.26s ease-out;
        -o-transition: opacity 0.26s ease-out;
        transition: opacity 0.26s ease-out;
        transition: 500ms;
    }

    .wrapVer img {
        display: block;
        height: 200px;
        margin: 3px;
        -webkit-transition: opacity 0.26s ease-out;
        -moz-transition: opacity 0.26s ease-out;
        -ms-transition: opacity 0.26s ease-out;
        -o-transition: opacity 0.26s ease-out;
        transition: opacity 0.26s ease-out;
        transition: 500ms;
    }

/*.popupInner:hover img { Removed hard to see
    opacity: 0.5;
}*/

.popupInner:hover .wrap:hover img {
    opacity: 1;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 30;
    position: relative;
    transition: 500ms;
}

.popupInner:hover .wrapVer:hover img {
    opacity: 1;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 30;
    position: relative;
    transition: 500ms;
}

.popupInner mark {
    background-color: rgba(64, 128, 128, 0.5);
}

hr {
    clear: both;
    
    border: 1px solid rgb(128, 128, 128);
}

p {
    font-size: larger;
}

.popupInner ol {
    margin: 2em;
}

.popupInner a {
    color: rgba(64, 128, 128, 1);
}

    .popupInner a:link, .popupInner a:visited,
    .popupInnera:active, .popupInnera:hover {
        color: #333;
    }

/*@media screen and (max-width:500px) {
    .popupInner img {
        width: 150px;
        height: 133px;
    }
}*/